
@{
    ViewBag.Title = "Details";
}

<h2>Student Details</h2><br/>

<p class="form-text"><b>ID        : @Model.ID</b><p> 
<p class="form-text"><b>Name      : @Model.Name</b><p> 
<p class="form-text"><b>Email     : @Model.Email</b><p> 
<p class="form-text"><b>NID       : @Model.NID</b><p> 
<p class="form-text"><b>Phone No. : @Model.Phone</b><p> 
<p class="form-text"><b>Gender    : @Model.Gender</b><p> 
<p class="form-text"><b>Profession: @Model.Profession</b><p> 
<p class="form-text"><b>Hobbies   : @Model.Hobbies</b><p>
<p class="form-text"><b>Password  : @Model.Password</b><p><br/><br/>

