
@{
    ViewBag.Title = "Edit";
}

@functions{
    //int a = 100;

    bool CheckProfession(string prof)
    {
        if (Model.Profession != null && Model.Profession == prof)
            return true;
        return false;
    }
}

<h2>Edit Information</h2><br/>


<form action="" method="post">

    <input type="text" class="form-control" placeholder="Name" name="Name" value="@Model.Name"><br />
    <input type="email" class="form-control" placeholder="Email" name="Email" value="@Model.Email"><br />
    <input type="text" class="form-control" placeholder="NID" name="NID" value="@Model.NID"><br />
    <input type="text" class="form-control" placeholder="Phone Number" name="Phone" value="@Model.Phone"><br />
    <input type="password" class="form-control" placeholder="UserPassword" name="Password" value="@Model.Password"><br />
    Profession:
    <select class="form-control" name="Profession">
        <option selected disabled>---------------Choose---------------</option>
        <option selected="@(Model.Profession != null && Model.Profession == "Student")">Student</option>
        <option @(Model.Profession != null && Model.Profession == "Bussiness" ? "selected" : "")>Bussiness</option>
        <option selected="@CheckProfession("Job")">Job</option>
    </select><br />
    <input type="submit" class="btn btn-success" value="Submit"><br /><br /><br />
</form>












